In [17]:
import sqlite3

conn=sqlite3.connect('200574402_Midterm_Q22.db')  
cursor=conn.cursor()

creating_table= 'CREATE TABLE Weather_Table('\
                    'id INT PRIMARY KEY,'\
                    'recordDate DATE,'\
                    'temperature INT'\
                    ');'

insert_query=[
    "INSERT INTO Weather_Table VALUES (1,'2015-01-01',10);",
    "INSERT INTO Weather_Table VALUES (2,'2015-01-02',25);",
    "INSERT INTO Weather_Table VALUES (3,'2015-01-03',20);",
    "INSERT INTO Weather_Table VALUES (4,'2015-01-04',30);"
]

selecting=  'SELECT copy1.id ' \
               'FROM Weather_Table copy1 ' \
               'JOIN Weather_Table copy2 ON copy1.id = copy2.id + 1 ' \
               'WHERE copy1.temperature > copy2.temperature;'

cursor.executescript(creating_table)
for inserting in insert_query:
    cursor.execute(inserting)

cursor.execute(selecting)
ouput = cursor.fetchall()

for rows in ouput:
    print(rows)

conn.commit()
conn.close()

(2,)
(4,)